.title{
	text-align: left;
}

.artist{
	text-align: right;
}
body{
	width: 100%;
	background-color: lightblue;
}

.half{
	width:49%;
}

.full{
	width:100%;
}

.button{
	font-size:60px;
	text-align: center;
	background-color: lightgreen;
	border-radius: 40px;
}
.text{
	font-size:100px;
	text-align: center;
	background-color: lightblue;
	border-radius: 40px;

}

.controls{
	/*position: fixed;*/
}